
#logo {}

body {
    background-color: #f0f0f3;
}

#total-orders {
    background-color: #4cb4c7;
}


#orders-delivered {
    background-color: #7abecc;
}

#orders-pending {
    background-color: #7CD1C0;
}
#jumbo-list{
    border: 5px solid #7cb5d6;
    padding: 15px;
}

helper.form_class = 'form-horizontal'
helper.label_class = 'col-lg-2'
helper.field_class = 'col-lg-8'
helper.layout = Layout(
    'email',
    'password',
    'remember_me',
    StrictButton('Sign in', css_class='btn-default'),
)